.container {
    width: 800px;
    margin: 20px auto;
    line-height: 2;
    display: flex;
    justify-content: space-between;
}

.china-map{
    width: 340px;
    height: 248px;
    background: url("../img/china.jpg");
    background-size: 100% 100%;
}

.provinces{
    list-style: none;
    display: flex;
    width: 450px;
    flex-wrap: wrap;
}

.provinces li{
    margin: 0 10px;
}

.provinces a{
    text-decoration: none;
    display: block;
}

.provinces a:hover{
    color: #f40;
}